<!-- IF S_NORMAL_HEADER -->
<div class="breadcrumb-container">
	<ul class="breamcrumb">
		<li><a href="{EQDKP_CONTROLLER_PATH}{SID}" title="{L_home}"><i class="fa fa-home"></i></a></li>
		<li class="current"><a>{L_clanwars}: {L_cw_awards}</a></li>
	</ul>
	<div class="clear"></div>
</div>

<div class="contentHeader">
	<h1 class="contentTitle">{L_cw_awards}</h1>
</div>

<!-- ENDIF -->

<table width="100%" border="0" cellspacing="1" cellpadding="2" class="hptt colorswitch scrollable-x">
	{AWARDS_LIST}
</table>
<div class="center pagination_wrapper">
	{PAGINATION}
</div>